---
title: "Software verification"
collection: teaching
type: "Mastercourse"

[permalink: /teaching/2021-2022-software-verification]: #
venue: "Technical University of Delft, Programming Languages Group"
location: "Delft, Netherlands"
---