---
title: "Software verification"
collection: teaching
type: "Mastercourse"

[permalink: /teaching/2022-2023-software-verification]: #
venue: "Technical University of Delft, Programming Languages Group"
date: 2022-10-24
location: "Delft, Netherlands"
---